<!DOCTYPE html>
<html>
    <head>
        <title>AnimeBox</title>
        <link rel="icon" type="image/x-icon" href="https://th.bing.com/th/id/R.b55ced8d256e4f77d28975cc85b668dd?rik=HwBS3fBb9KpEIQ&riu=http%3a%2f%2fwww.freepngimg.com%2fdownload%2fanime_boy%2f25983-5-anime-boy-clipart.png&ehk=9YbNkmgvue3ugN0oDzZXEUbp%2fPwQ0MsH0U75vy4yZNc%3d&risl=&pid=ImgRaw&r=0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <img class="logo" src="https://th.bing.com/th/id/R.b55ced8d256e4f77d28975cc85b668dd?rik=HwBS3fBb9KpEIQ&riu=http%3a%2f%2fwww.freepngimg.com%2fdownload%2fanime_boy%2f25983-5-anime-boy-clipart.png&ehk=9YbNkmgvue3ugN0oDzZXEUbp%2fPwQ0MsH0U75vy4yZNc%3d&risl=&pid=ImgRaw&r=0" align="left"/>
        <h1>AnimeBox</h1>
        <ul>
            <li><a href="./movies" style="text-align: center;">Movies</a></li>
            <li><a href="./games" style="text-align: center;">Games</a></li>
            <li><a href="./series" style="text-align: center;">Series</a></li>
            <li><a href="#about">About</a></li>
            <li style="float:right">
                {% if username %}
                <a class="Logout">Logout &nbsp;<img src="https://pic.onlinewebfonts.com/svg/img_342905.png" style="height: 20px;height: 20px;padding: 0px 0px; margin-right: 0px;" align="right"></a>
                {% else %}
                    <a href="./login">Login</a>
                {% endif %}
            </li>
        </ul>
        <script src="{{ url_for('static', filename='js/Logout.js') }}"></script>
        <fieldset>
            <img src="https://thumbs.gfycat.com/WealthyBelovedGreatdane-max-1mb.gif" style="height: 200px;width: 200px" align="left"></br></br>
            <p style="font-family: cursive;" align="center">Hello {{ username }}! welcome to AnimeBox, the ultimate destination for anime lovers! Our website is dedicated to bringing you the latest news, reviews, and information about all things anime. Whether you're a seasoned otaku or just starting out on your anime journey, you'll find everything you need right here.</p></br></br></br></br></br></br>
            
            <img src="https://media.giphy.com/media/CNUb51EbTxuRG/giphy.gif" style="height: 200px;width: 200px" align="right"></br></br>
            <p style="font-family: cursive;" align="center">At Animebox, we're passionate about all things anime. We believe that anime is more than just a form of entertainment; it's a vibrant and diverse art form that has captured the hearts of millions of fans around the world. That's why we're committed to bringing you the best anime content on the web, from the latest series and movies to in-depth articles and analysis.</p></br></br></br></br></br></br>
            
            <img src="https://media1.tenor.com/images/f8539f656d2ed90be7cd3bbe95d263d2/tenor.gif?itemid=6015959" style="height: 200px;width: 200px" align="left"></br></br>
            <p style="font-family: cursive;" align="center">So why should you choose Animebox? For starters, we're dedicated to providing you with a user-friendly and engaging experience. Our website is designed with you in mind, featuring easy-to-navigate sections and a wealth of information at your fingertips. Plus, we're always updating our content to ensure that you stay up-to-date with the latest anime news and trends.</p></br></br></br></br></br></br>
            
            <img src="https://i0.wp.com/giffiles.alphacoders.com/140/14018.gif" style="height: 200px;width: 200px" align="right"></br></br>
            <p style="font-family: cursive;" align="center">But most importantly, we're here for one reason: to share our love of anime with you. We believe that anime has the power to inspire, entertain, and connect people from all walks of life. So whether you're looking for your next favorite series or just want to connect with other anime fans, you'll find everything you need right here at Animebox.</p></br></br></br></br></br></br>
        </fieldset>
        <footer id="about">
            <p>Thanks for visiting our site, and we hope you enjoy exploring all that Animebox has to offer!</p>
            <p>&copy; 2023 AnimeBox</p><p></p>All rights reserved.</p>
        </footer>
    </body>
</html>